*{
    padding:0%;
    margin:0%
}

.parent{
    width:100%;
    height:100vh;
    background-color: rgba(211, 211, 211, 0.253);


    display:flex;
    justify-content:center;
    align-items: center;
}

.mobBody::before{
    content:"";
    width:7px;
    height:80px;
    display:inline-block;
    background-color:#212121;
    position:absolute;
    top: 150px;
    left: -6px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}


.mobBody{
    width:300px;
    height:90vh;
    background-color: #000;
    min-width: 300px;
    border:1px solid black;
    border-radius: 40px;
    position: relative;


    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    /* h-v-blur-spread-color */
    box-shadow: 5px 10px 10px 3px #888888;
}
.mobBody::after{
    content:"";
    width:5px;
    height:50px;
    display:inline-block;
    background-color:black;
    position:absolute;
    left:300px;
    top:70px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


    
}

.mobOuter{
    width:100%;
    background-color: #212121;
    height:10%;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;


    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}

.topDot{
    width:10px;
    height: 10px;
    background-color: #0e0d0d;
    border-radius: 100%;
}
.belowDot{
    width:100%;
    margin-top: 10px;
    height:12px;
    background-color:#212121;

    display:flex;
    align-items: center;
    justify-content:center;
}
.dotOne{
    width:10px;
    height: 10px;
    background-color: #141414;
    border-radius: 100%;

    margin-right: 10px;
}
.spaceOne{
    width:50px;
    height: 6px;
    background-color: #141414;
    border-radius: 20%;
    margin-right: 10px;

}



.mobInner
{

    width:100%;
    height:80%;

    background-color: #212121;

    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;


}
.content{
    width:97%;
    height:100%;

    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}




.mobBottom{
    width:100%;
    background-color: #212121;
    height:10%;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;


    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}

.btn{
    width:35px;
    height:35px;
    background-color:#141414;
    border:1px solid rgba(0, 0, 0, 0.445);

    border-radius: 100%;
    transition: 1s ease;
    cursor: pointer;

}

.btn:hover{
    background-color:#14141449;
    transition: 1s ease;

}